#s {
    text-align: center;
    border: solid 3px white;
    background-color: white;
    border-radius: 40px;
    position: absolute;
    top: 140%;
    left: 46.82%;
    padding-right: 5px;
    padding-left: 5px;
}
#w {
    text-align: center;
    border: solid 3px white;
    background-color: white;
    border-radius: 40px;
    position: absolute;
    top: 120%;
    right: 1%;
}
#z {
    text-align: center;
    border: solid 3px white;
    background-color: white;
    border-radius: 40px;
    position: absolute;
    top: 120%;
    left: 44%;
}
#f {
    text-decoration: none;
    border: solid 3px rgb(16, 214, 221);
    border-radius: 20px;
    background-color: #EFEFEF;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}
#l {
    text-align: center;
    border: solid 3px white;
    background-color: white;
    border-radius: 40px;
    position: absolute;
    top: 120%;
}
#g {
    text-align: center;
    border: solid 3px white;
    background-color: white;
    border-radius: 40px;
    position: absolute;
    top: 93%;
    right: 1%;
}
#c {
    text-align: center;
    border: solid 3px white;
    background-color: white;
    border-radius: 40px;
    position: absolute;
    top: 70%;
}
#immagine {
    width: 101%;
    height: 720px;
    position: absolute;
    left: -1%;
    top: -1%;
}
#img2 {
    width: 101%;
    height: 1200px;
    position: absolute;
    left: -1%;
    top: 60%;

}


